body {
  text-align: center;
}

body h1 {
  margin-top: 1em;
}

.links li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

.icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.links a {
  color: rgb(96, 108, 118);
}

.links a:hover {
  color: #111;
}
